.wrapper
  = render "side_bar"

  .chat-main
    .main-header
      .main-header__left-box
        - @group.group_users.each do |group_user|
          %h2.main-header__left-box__current-group
            = @group.name
          %ul.main-header__left-box__member-list
            Menber:
            %li.main-header__left-box__member-list__member
            - @group.users.each do |user|
              = user.name
        .main-header__edit-btn
          = link_to "Edit", edit_group_path(@group.id), class: "btn"

    .main-contents
      .messages
        = render @messages

    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__message', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = fa_icon 'picture-o', class: 'fa fa-image'
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit-btn'